<?xml version="1.0"?>
<launch>

    <!-- Params -->
    <param name="use_sim_time" value="true" />
    <arg name="file" value="29-06/mhl_long_straight_line_new.bag" />
    <arg name="path" value="$(find waterlinked_a50_ros_driver)/data/rosbags/" />
    <arg name="full_name" value="$(arg path)$(arg file)" />

    <!-- Bag player -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find waterlinked_a50_ros_driver)/rviz/RViz_config.rviz" />
    <node pkg="rosbag" type="play" name="rosbag" args="--clock -r 0.5 $(arg full_name)" />

    <!-- Rviz -->
    <param name="robot_description" textfile="$(find waterlinked_a50_ros_driver)/bluerov_model/BlueRov2.urdf.xacro" />
    <!-- <node name="convert_for_pose" pkg="waterlinked_a50_ros_driver" type="converter"/> -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" args="__name:=robot_state_publisher" output="screen" />
    <node name="converter" pkg="onr_utils" type="converter.py" output="screen" />

    <!-- tf static -->
    <node name="tf_static_base_dvl" pkg="tf" type="static_transform_publisher" args="0.042 0.08904 -0.21062 1.5707963267948966 0 3.141592653589793 base_link dvl_link 100" />
    <node name="tf_static_base_cam" pkg="tf" type="static_transform_publisher" args="0.21 0 0.067 0 0 0 base_link camera_link 100" />
</launch>